---
import { icons } from '../data/icons.ts'
import { iconsCategories } from '../data/icons-categories.ts'
import Layout from '../layouts/Layout.astro'
import Button from '../components/Button.astro'
import Icon from '../components/Icon.astro'
import Checkbox from '../components/Checkbox.astro'
---

<Layout title="Welcome to Astro.">
  <main class="content">
    <h1>Components</h1>

    <div>
      <h2 class="text-2xl">Buttons</h2>
      <p>Primary buttons</p>
      <div>
        <Button size="small" icon="arrow-right" label="Primary Button" />
        <Button icon="arrow-right" label="Primary Button" />
        <Button size="small" icon="arrow-right" />
        <Button icon="arrow-right" />
      </div>
      <div>
        <Button
          href="#"
          size="small"
          icon="arrow-right"
          label="Primary Button"
        />
        <Button href="#" icon="arrow-right" label="Primary Button" />
        <Button href="#" size="small" icon="arrow-right" />
        <Button href="#" icon="arrow-right" />
      </div>
      <div>
        <Button
          size="small"
          icon="arrow-right"
          label="Primary Button"
          disabled
        />
        <Button icon="arrow-right" label="Primary Button" disabled />
        <Button size="small" icon="arrow-right" disabled />
        <Button icon="arrow-right" disabled />
      </div>

      <p>Dark buttons</p>

      <div>
        <Button
          variant="dark"
          size="small"
          icon="arrow-right"
          label="dark Button"
        />
        <Button variant="dark" icon="arrow-right" label="dark Button" />
        <Button variant="dark" size="small" icon="arrow-right" />
        <Button variant="dark" icon="arrow-right" />
      </div>

      <div>
        <Button
          variant="dark"
          size="small"
          icon="arrow-right"
          label="dark Button"
          disabled
        />
        <Button
          variant="dark"
          icon="arrow-right"
          label="dark Button"
          disabled
        />
        <Button variant="dark" size="small" icon="arrow-right" disabled />
        <Button variant="dark" icon="arrow-right" disabled />
      </div>

      <div class="dark-bg">
        <p>Secondary buttons</p>
        <div>
          <Button
            variant="secondary"
            size="small"
            icon="arrow-right"
            label="Primary Button"
          />
          <Button
            variant="secondary"
            icon="arrow-right"
            label="Primary Button"
          />
          <Button variant="secondary" size="small" icon="arrow-right" />
          <Button variant="secondary" icon="arrow-right" />
        </div>
        <div>
          <Button
            variant="secondary"
            size="small"
            icon="arrow-right"
            label="Primary Button"
            disabled
          />
          <Button
            variant="secondary"
            icon="arrow-right"
            label="Primary Button"
            disabled
          />
          <Button
            variant="secondary"
            size="small"
            icon="arrow-right"
            disabled
          />
          <Button variant="secondary" icon="arrow-right" disabled />
        </div>
        <p>light buttons</p>
        <div>
          <Button
            variant="light"
            size="small"
            icon="arrow-right"
            label="light Button"
          />
          <Button variant="light" icon="arrow-right" label="light Button" />
          <Button variant="light" size="small" icon="arrow-right" />
          <Button variant="light" icon="arrow-right" />
        </div>
        <div>
          <Button
            variant="light"
            size="small"
            icon="arrow-right"
            label="light Button"
            disabled
          />
          <Button
            variant="light"
            icon="arrow-right"
            label="light Button"
            disabled
          />
          <Button variant="light" size="small" icon="arrow-right" disabled />
          <Button variant="light" icon="arrow-right" disabled />
        </div>
      </div>

      <h2 class="text-2xl">Checkbox</h2>
      <div>
        <Checkbox />
      </div>
    </div>
  </main>
</Layout>

<style>
  /*@import '../css/preflight.css';*/

  .content {
    padding: var(--ac-spacing-8);
  }

  .dark-bg {
    background-color: rgb(var(--ac-dark));
    color: rgb(var(--ac-white));
    padding: var(--ac-spacing-8);
  }

  .icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(var(--ac-primary), 0.75);
    border-radius: var(--ac-rounded-xl);
    padding: var(--ac-spacing-4);
    gap: var(--ac-spacing-2);
    font-size: var(--ac-text-sm);
    background-color: rgba(var(--ac-primary), 0.1);

    svg {
      width: var(--ac-spacing-8);
      height: var(--ac-spacing-8);
      color: rgb(var(--ac-primary));
    }

    span {
      color: rgba(var(--ac-dark), 0.75);
    }
  }
</style>
