---
import { icons } from '../data/icons.ts'
import { iconsCategories } from '../data/icons-categories.ts'
import Layout from '../layouts/Layout.astro'
import Icon from '../components/Icon.astro'
---

<Layout title="Welcome to Astro.">
  <main class="content">
    <h1>Icons</h1>

    <div>
      <ul>
        {
          iconsCategories.map((category) => {
            const categoryIcons = icons.filter(
              (icon) => icon.category === category
            )

            return categoryIcons.length > 0 ? (
              <li>
                <h3>{category}</h3>
                <ul class="icon-list">
                  {categoryIcons.map((icon) => (
                    <li class="icon-wrapper">
                      <Icon icon={icon.name} />
                      <span>{icon.name}</span>
                    </li>
                  ))}
                </ul>
              </li>
            ) : null
          })
        }
      </ul>
    </div>
  </main>
</Layout>

<style>
  /*@import '../css/preflight.css';*/

  .content {
    padding: var(--ac-spacing-8);
  }

  .icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 1rem;
  }

  .icon-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(var(--ac-primary), 0.75);
    border-radius: var(--ac-rounded-xl);
    padding: var(--ac-spacing-4);
    gap: var(--ac-spacing-2);
    font-size: var(--ac-text-sm);
    background-color: rgba(var(--ac-primary), 0.1);

    svg {
      width: var(--ac-spacing-8);
      height: var(--ac-spacing-8);
      color: rgb(var(--ac-primary));
    }

    span {
      color: rgba(var(--ac-dark), 0.75);
    }
  }
</style>
