---
import Tab from '../components/Tab.astro'
import TabItem from '../components/TabItem.astro'
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Free Astro Components</title>
  </head>
  <body>
    <main class="content">
      <h1>Tabs</h1>

      <div class="controls-wrapper">
        <Tab
          tabs={[
            { label: 'Tab 1', active: true },
            { label: 'Tab 2' },
            { label: 'Tab 2' },
          ]}
        >
          <TabItem active> Tab 1 </TabItem>
          <TabItem> Tab 2 </TabItem>
          <TabItem> Tab 3 </TabItem>
        </Tab>
      </div>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }

  .content {
    padding: var(--ac-spacing-8) var(--ac-spacing-8) 500px;
  }

  .controls-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--ac-spacing-8);
  }
</style>
