---
import Layout from '../layouts/Layout.astro'
import Input from '../components/Input.astro'
---

<Layout title="Welcome to Astro.">
  <main class="content">
    <h1>Controls</h1>

    <div>
      <h2>Inputs</h2>
      <div class="controls-wrapper">
        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          readonly
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="error"
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="success"
        />

        <Input
          type="search"
          label="Input label"
          placeholder="Buscar aquí"
          helperText="Helper text"
        />

        <Input
          type="password"
          label="Input label"
          placeholder="Escribe tu contraseña"
          helperText="Helper text"
        />
        <Input
          icon="star"
          label="Input label"
          placeholder="Input with icon"
          helperText="Helper text"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  @import '../css/preflight.css';

  .content {
    padding: var(--ac-spacing-8);
  }

  .controls-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--ac-spacing-8);
  }
</style>
