---
import Layout from '../layouts/Layout.astro'
import Input from '../components/Input.astro'
import Textarea from '../components/Textarea.astro'
import Select from '../components/Select.astro'
---

<Layout title="Welcome to Astro.">
  <main class="content">
    <h1>Controls</h1>

    <div>
      <h2>Inputs</h2>
      <div class="controls-wrapper">
        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Input
          label="Input label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          readonly
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="error"
        />

        <Input
          label="Input label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="success"
        />

        <Input
          type="search"
          label="Input label"
          placeholder="Buscar aquí"
          helperText="Helper text"
        />

        <Input
          type="password"
          label="Input label"
          placeholder="Escribe tu contraseña"
          helperText="Helper text"
        />
        <Input
          icon="star"
          label="Input label"
          placeholder="Input with icon"
          helperText="Helper text"
        />
      </div>

      <h2>Textarea</h2>
      <div class="controls-wrapper">
        <Textarea
          label="Textarea label"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Textarea
          label="Textarea label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
        />

        <Textarea
          label="Textarea label"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Textarea
          label="Textarea label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          disabled
        />

        <Textarea
          label="Textarea label"
          value="Value"
          placeholder="Placeholder"
          helperText="Helper text"
          readonly
        />

        <Textarea
          label="Textarea label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="error"
        />

        <Textarea
          label="Textarea label"
          placeholder="Placeholder"
          helperText="Helper text"
          status="success"
        />
        <Textarea
          icon="star"
          label="Textarea label"
          placeholder="Textarea with icon"
          helperText="Helper text"
        />
      </div>

      <h2>Select</h2>
      <div class="controls-wrapper">
        <Select
          label="Select label"
          placeholder="Select an option"
          helperText="Helper text"
        />
        <Select
          label="Select label"
          placeholder="Select an option"
          options={[
            { label: 'Option 1', value: '1' },
            { label: 'Option 2', value: '2', selected: true },
            { label: 'Option 3', value: '3' },
          ]}
          helperText="Helper text"
        />
        <Select
          label="Select label"
          placeholder="Select an option"
          helperText="Helper text"
          disabled
        />
        <Select
          label="Select label"
          placeholder="Select an option"
          options={[
            { label: 'Option 1', value: '1' },
            { label: 'Option 2', value: '2', selected: true },
            { label: 'Option 3', value: '3' },
          ]}
          helperText="Helper text"
          disabled
        />
        <Select
          label="Select label"
          placeholder="Select an option"
          helperText="Helper text"
          status="error"
        />
        <Select
          label="Select label"
          placeholder="Select an option"
          options={[
            { label: 'Option 1', value: '1' },
            { label: 'Option 2', value: '2', selected: true },
            { label: 'Option 3', value: '3' },
          ]}
          helperText="Helper text"
          status="success"
        />
      </div>
    </div>
  </main>
</Layout>

<style>
  /*@import '../css/preflight.css';*/

  .content {
    padding: var(--ac-spacing-8) var(--ac-spacing-8) 500px;
  }

  .controls-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: var(--ac-spacing-8);
  }
</style>
