---
import '../css/main.css'
import '../css/input.css'
import Icon from './Icon.astro'

interface Props {
  icon?: string
  label?: string
  helperText?: string
  status?: 'default' | 'error' | 'success'
  class?: string
}

const {
  icon,
  label,
  helperText = '',
  status = 'default',
  class: className,
  ...props
} = Astro.props

const statusClasses = {
  default: '',
  error: 'ac-input--error',
  success: 'ac-input--success',
}[status]

const inputClasses = ['ac-input', statusClasses, className]
  .filter(Boolean)
  .join(' ')
---

<label
  data-input-password-wrapper={props.type === 'password'}
  class="ac-input-wrapper"
>
  {label && <span class="ac-input-label">{label}</span>}
  <div>
    {
      props && props.type === 'search' && (
        <Icon icon="search" class="ac-input-icon ac-input-icon--left" />
      )
    }
    <input
      data-input-password={props.type === 'password'}
      class={inputClasses}
      {...props}
    />
    {
      icon && props.type !== 'password' && (
        <Icon icon={icon} class="ac-input-icon ac-input-icon--right" />
      )
    }
    {
      props && props.type === 'password' && (
        <button
          data-input-password-button
          data-is-visible="false"
          class="ac-input-password-btn"
        >
          <Icon icon="eye" class="ac-input-eye" />
          <Icon icon="eye-off" class="ac-input-eye-off" />
        </button>
      )
    }
  </div>
  {
    helperText && (
      <span class="ac-input-helper-text">
        {status === 'error' && <Icon icon="warning" />}
        {status === 'success' && <Icon icon="check-circle" />}
        {helperText}
      </span>
    )
  }
</label>

<style>
  .ac-input-wrapper {
    display: flex;
    flex-direction: column;
    font-family: var(--ac-font-sans);
    gap: var(--ac-spacing-2);

    > div {
      position: relative;
    }

    &:has(.ac-input:disabled) {
      opacity: var(--ac-disabled-opacity);
      pointer-events: none;
    }

    &:has(.ac-input--error) .ac-input-helper-text {
      color: rgb(var(--ac-danger));
    }

    &:has(.ac-input--success) .ac-input-helper-text {
      color: rgb(var(--ac-success));
    }

    &:has(.ac-input-icon--left) .ac-input {
      padding-left: var(--ac-spacing-12);
    }

    &:has(.ac-input-icon--right) .ac-input,
    &:has(.ac-input-password-btn) .ac-input {
      padding-right: var(--ac-spacing-12);
    }
  }

  .ac-input {
    appearance: none;
    background-color: rgb(var(--ac-color-100));
    background-image: none;
    border-color: rgb(var(--ac-color-200));
    border-radius: var(--ac-input-border-radius);
    border-width: var(--ac-border-2);
    color: var(--ac-color-700);
    font-size: var(--ac-text-base);
    height: var(--ac-input-height);
    line-height: var(--ac-leading-normal);
    padding-left: var(--ac-input-padding);
    padding-right: var(--ac-input-padding);
    transition: all 0.3s ease-in-out;
    width: 100%;

    &:hover {
      border-color: rgb(var(--ac-color-300));
    }

    &:focus {
      border-color: var(--ac-primary-hover);
      outline: none;
    }

    &:disabled {
      background-color: rgb(var(--ac-color-200));
    }

    &.ac-input--error {
      border-color: rgb(var(--ac-danger));
    }
  }

  .ac-input-label {
    color: rgb(var(--ac-color-500));
    font-size: var(--ac-text-sm);
  }

  .ac-input-helper-text {
    align-items: center;
    color: rgb(var(--ac-color-400));
    display: flex;
    font-size: var(--ac-text-sm);
    gap: var(--ac-spacing-1);

    svg {
      flex-shrink: 0;
      height: var(--ac-spacing-4);
      width: var(--ac-spacing-4);
    }
  }

  .ac-input-icon {
    color: rgb(var(--ac-color-400));
    height: var(--ac-spacing-6);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: var(--ac-spacing-6);

    &.ac-input-icon--left {
      left: var(--ac-spacing-4);
    }

    &.ac-input-icon--right {
      right: var(--ac-spacing-4);
    }
  }

  .ac-input-password-btn {
    appearance: none;
    background-color: transparent;
    border: none;
    color: rgb(var(--ac-color-400));
    cursor: pointer;
    height: var(--ac-spacing-6);
    padding: 0;
    position: absolute;
    right: var(--ac-spacing-4);
    top: 50%;
    transform: translateY(-50%);
    width: var(--ac-spacing-6);
    transition: all 0.3s ease-in-out;

    &:hover {
      color: var(--ac-primary-hover);
    }

    .ac-input-eye-off,
    .ac-input-eye-off {
      height: var(--ac-spacing-6);
      width: var(--ac-spacing-6);
    }

    &[data-is-visible='false'] .ac-input-eye-off {
      display: none;
    }

    &[data-is-visible='true'] .ac-input-eye {
      display: none;
    }
  }
</style>

<script>
  import { DOMLoaded } from '../utils/utils.ts'
  import { toggleInputPassword } from '../utils/input'

  DOMLoaded(() => {
    const inputPasswordButtons = document.querySelectorAll(
      '[data-input-password-button]'
    )

    inputPasswordButtons.forEach((button) => {
      button.addEventListener('click', (event) => {
        event.preventDefault()
        const input = button
          ?.closest('[data-input-password-wrapper]')
          ?.querySelector('[data-input-password]') as HTMLInputElement

        toggleInputPassword(button, input)
      })
    })
  })
</script>
