---
import '../css/main.css'
interface Props {
  label?: string
  error?: boolean
  class?: string
}

const { label, error, class: className, ...props } = Astro.props
const radioClasses = ['ac-radio', error ? 'ac-radio--error' : '', className]
  .filter(Boolean)
  .join(' ')
---

<label class="ac-radio-wrapper">
  <input type="radio" class={radioClasses} {...props} />
  {label && <span class="ac-radio-label">{label}</span>}
</label>

<style>
  .ac-radio-wrapper {
    align-items: center;
    color: rgb(var(--ac-color-500));
    cursor: pointer;
    display: inline-flex;
    font-family: var(--ac-font-sans);
    font-size: var(--ac-text-sm);
    font-weight: var(--ac-font-normal);
    gap: var(--ac-spacing-1-5);
    line-height: var(--ac-leading-normal);

    &:has(:disabled) {
      opacity: var(--ac-disabled-opacity);
      pointer-events: none;
    }
  }

  .ac-radio {
    appearance: none;
    border-color: rgb(var(--ac-primary));
    border-radius: var(--ac-rounded-full);
    border-style: solid;
    border-width: var(--ac-border-2);
    cursor: inherit;
    height: var(--ac-spacing-6);

    margin: 0;
    transition: all 0.3s ease-in-out;
    width: var(--ac-spacing-6);

    &:hover {
      background-color: rgba(var(--ac-primary), 0.1);
      border-color: var(--ac-primary-hover);
    }

    &:hover + .ac-radio-label {
      color: var(--ac-primary-hover);
    }

    &:checked {
      background-color: rgb(var(--ac-primary));
      border-color: rgb(var(--ac-primary));
      box-shadow: inset 0 0 0 4px rgb(var(--ac-color-100));
    }

    &:checked:hover {
      background-color: var(--ac-primary-hover);
      border-color: var(--ac-primary-hover);
    }

    &:checked + .ac-radio-label {
      color: rgb(var(--ac-color-700));
    }

    &:checked:hover + .ac-radio-label {
      color: var(--ac-primary-hover);
    }

    &:active {
      border-color: rgb(var(--ac-primary));
    }

    &:focus {
      outline-color: var(--ac-outline-color);
      outline-style: var(--ac-outline-style);
      outline-width: var(--ac-outline-width);
      outline-offset: var(--ac-outline-offset);
    }

    &.ac-radio--error:not(:checked) {
      border-color: rgb(var(--ac-danger));
    }

    &.ac-radio--error:not(:checked) + .ac-radio-label {
      color: rgb(var(--ac-danger));
    }
  }

  .ac-radio-label {
    transition: color 0.3s ease-in-out;
  }
</style>
