---
import '../css/main.css'

interface Props {
  title: string
  class?: string
}

const { title, class: className = 'dark' } = Astro.props

const colorScheme = {
  light: 'light',
  dark: 'dark',
}[className]
---

<!doctype html>
<html lang="en" class={className} style={`color-scheme: ${colorScheme};`}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
  }
</style>
